<!-- sidebar -->
<div id="sidebar" class="ui right inverted vertical very thin sidebar icon menu">
    <a class="item" data-content="Home">
        <i class="large home link icon"></i>
    </a>
    <a class="item" data-content="Users">
        <i class="large users link icon"></i>
    </a>
    <a class="item" data-content="Settings">
        <i class="large settings link icon"></i>
    </a>
    <a class="item" data-content="Help">
        <i class="large help link icon"></i>
    </a>
    <a class="item" data-content="Help">
        <i class="large sign out link icon"></i>
    </a>
</div>


<div class="ui celled grid">

    <!-- lists -->
    <div id="left" class="five wide column">

        <h1 class="ui header">
            Lists
            <div class="ui right floated button" {{action "enableCreateMode"}}>
                <i class="file icon"></i> Create
            </div>
        </h1>

        {{#if isCreateMode}}
            <div class="ui large fluid icon input">
                {{create-list-input value=title placeholder="New List" insert-newline="createList"}}
                <div class="ui large icon button" {{action "createList"}}><i class="add sign icon"></i></div>
            </div>
        {{/if}}

        <div id="lists" class="ui relaxed divided list">
            {{#each}}
                {{partial "lists/_item"}}
            {{/each}}
        </div>

    </div>


    <!-- content -->
    <div id="right" class="eleven wide column">

        <!-- header -->
        <h1 class="ui header">
            Project B
            <div class="ui right floated button toggle-sidebar"><i class="list icon"></i> Menu</div>
        </h1>

    </div>
</div>